# Local Netlify folder
.netlify

GEMINI_API_KEY=AIzaSyAYWsfmFsTev6kdcKMalnsfYhgJCtCFFaE
PORT=3000
DB_HOST=gateway01.ap-southeast-1.prod.aws.tidbcloud.com
DB_PORT= 4000
DB_USER= 4RdRyRGHpMek4m9.root
DB_PASSWORD=JZaaDLqIEZiCla7I
DB_DATABASE=ai_career_guide_db
TIDB_CA_PATH=D:\Ai career guide (Node js)/isrgrootx1.pem
ADMIN_EMAIL=admin@aicareer.com
ADMIN_PASS=admin@aicareer6319